@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background: #222222;
	margin: 0;
	color: #FFFFFFCC;
	font-family: Roboto;
	display: flex;
	align-items: center;
	flex-direction: column;
	scrollbar-color: #222222 transparent;
}

html {
	scrollbar-color: #111111 transparent;
}

input {
	font-size: inherit;
	font-family: inherit;
}
button {
	font-size: inherit;
	font-family: inherit;
}
